@import "tailwindcss";

@font-face {
  font-family: "Gilroy-Light";
  src: url("/fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("/fonts/Gilroy-Medium") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: url("/fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FontSpring";
  src: url("/fonts/Fontspring-DEMO-integralcf-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NoContinue";
  src: url("/fonts/NoContinue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averno";
  src: url("/fonts/AvernoDemo.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*  */

.font-integral {
  font-family: "Integral CF", sans-serif;
}
.font-Averno {
  font-family: "Averno", sans-serif;
}

.font-fontSpring {
  font-family: "FontSpring", sans-serif;
}

.font-gilroy {
  font-family: "Gilroy-Light", sans-serif;
}
.font-gilroy-regular {
  font-family: "Gilroy-Regular", sans-serif;
}
.font-gilroy-medium {
  font-family: "Gilroy-Medium", sans-serif;
}

.font-gilroy-bold {
  font-family: "Gilroy-Bold", sans-serif;
}
.font-gilroy-heavy {
  font-family: "Gilroy-Heavy", sans-serif;
}
.font-NoContinue {
  font-family: "NoContinue", sans-serif;
}

/* Add these animations to your existing global.css file */

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounceSubtle {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(5px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-bounce-subtle {
  animation: bounceSubtle 2s ease-in-out infinite;
}
